body{
    position: s;
    display: flex;
    justify-content: center;
    background-image: url('https://img00.deviantart.net/cecf/i/2011/206/3/2/free_datawall_stage_background_by_mkrukowski-d41l75c.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper{
    position: relative;
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
    grid-auto-columns: 100%;
    border-radius:8px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0px 6px 44px 7px rgba(235,17,35,1);
    -moz-box-shadow: 0px 6px 44px 7px rgba(235,17,35,1);
    box-shadow: 0px 6px 44px 7px rgba(235,17,35,1);
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
h1{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    margin-bottom: -15px;
}
h2{
    color: white;
    font-family: 'Open Sans' sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}
/* button effects came for https://gradientbuttons.colorion.co/ */
.start:hover {
    background-size: 200px;
    box-shadow: 0px 0px 0px 0px #999;
    transition: all .5s ease;
 }
.start{
    color:white;
    height:40px;
    width: 120px;
    text-align: center;
    background: linear-gradient(#FF6B6B , #5460ea); 
    transition: background 0.05s linear;
	background-size:1px 200px;
	transition: all .05s linear;
    text-decoration: none;
    padding-top: 15px;
    border-radius: 8px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin-top: 5px;
    padding-bottom: 7px;
}
.reset:hover {
    background-size: 200px;
    box-shadow: 0px 0px 0px 0px #999;
    transition: all .5s ease;
 }

.reset{
    color:white;
    height:40px;
    width: 120px;
    text-align: center;
    background: linear-gradient(#FF6B6B, #5460ea); 
    transition: background 0.05s linear;
	background-size:1px 200px;
	transition: all .05s linear;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 7px;
    border-radius: 8px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin-top: 5px;
}

footer{
    display: flex;
    justify-content: space-around;
    height: 25px;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 25px;
}
.button{
    align-self: center;
    color: white;
    align-self: flex-end;
    width: 75px;
    height: 60px;
    background: linear-gradient(#FF6B6B, #5460ea); 
    transition: background 0.05s linear;
	background-size:1px 200px;
	transition: all .05s linear;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    padding-top: 15px;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}
.button:hover {
    background-size: 200px;
    box-shadow: 0px 0px 0px 0px #999;
    transition: all .5s ease;
 }
p{
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;

}
.answerA {
    width: 699px;
    height: 50px; 
}
.answerB {
    width: 699px;
    height: 50px;
}
.question {
    font-size: 35px;
}
span{
    color:white;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    margin-top: -20px;
}
.points {
    font-family: 'Roboto', sans-serif;
    font-size: '30px';
    font-weight: 300;
}
body {
    margin: 0;
    overflow: hidden;
  }
  
  .rapper {
    position: relative;
    min-height: 100vh;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
  .red {
    background-color: #E94A3F;
  }
  
  .yellow {
    background-color: #FAA040;
  }
  
  .blue {
    background-color: #5FC9F5;
  }
strong {
    color: white;
    text-transform: uppercase;
}


.popup {
    position: absolute;
    width: 698px;
    height: 698px;
    z-index: 1;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:8px;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;

}
.nextbutton {
    color:white;
    height:40px;
    width: 120px;
    text-align: center;
    background: linear-gradient(#FF6B6B , #5460ea); 
    transition: background 0.05s linear;
	background-size:1px 200px;
	transition: all .05s linear;
    text-decoration: none;
    padding-top: 15px;
    border-radius: 8px;
    font-family: 'Righteous', cursive;
    font-size: 25px;
    margin-top: 5px;
    padding-bottom: 7px;
}
